@media (min-width: 375px) {
  .projects-container {
    padding: 0px 40px 100px 40px;
    display: block;
  }
  .projects-sm-heading {
    font-size: $font-size-header-mobile;
    font-family: $font-family-mono;
    color: $header-color-one;
    letter-spacing: 2px;
    span {
      color: $header-color-two;
    }
  }

  .project-airchaser {
    h1 {
      font-weight: 900;
      margin: 0;
    }

    h4 {
      font-family: $font-family-mono;
      font-weight: 400;
      color: $header-color-two;
      margin: 30px 0px 0px 0px;
    }
    a {
      text-decoration: none;
      color: $body-color;
    }
    a:hover {
      color: $header-color-two;
    }

    p {
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 400;
      font-size: 14px;
      background-color: #d3d5daed;
      padding: 25px;
      border-radius: 5px;
      width: 80%;
    }
  }

  .projects-skill {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    font-family: $font-family-mono;
    font-weight: 500;
    font-size: 13px;
    li {
      margin-top: 6px;
      margin-left: 6px;
      padding: 2px;
      border-radius: 5px;
    }
  }

  .project-xpower {
    h1 {
      font-weight: 900;
      margin: 0;
    }

    h4 {
      font-family: $font-family-mono;
      font-weight: 400;
      color: $header-color-two;
      margin: 30px 0px 0px 0px;
    }
    a {
      text-decoration: none;
      color: $body-color;
    }
    a:hover {
      color: $header-color-two;
    }

    p {
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 400;
      font-size: 14px;
      background-color: #d3d5daed;
      padding: 25px;
      border-radius: 5px;
      width: 80%;
    }
  }
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .projects-sm-heading {
    font-size: $font-size-header-desktop;
  }
}

@media (min-width: 1100px) {
  .projects-container {
    padding: 20px 50px 180px 50px;
    display: flex;
    justify-content: center;
  }

  .projects-sm-heading {
    width: 250px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: 0.5s ease;
    background-color: #cacdd26b;
    border-radius: 2%;
  }

  .projects {
    margin: 0;
    width: 950px;
  }

  .project-one {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .project-airchaser-image {
    margin-left: 20px;
    position: relative;
    border-radius: 10%;
  }

  .project-airchaser-image:hover .overlay {
    opacity: 0;
  }

  .project-airchaser {
    z-index: 1;
    p {
      width: 120%;
    }
  }

  .projects-skill {
    justify-content: flex-end;
  }

  .project-two {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .project-xpower {
    z-index: 1;
    text-align: right;
    p {
      width: 130%;
      position: relative;
      right: 100px;
      padding-left: 20px;
    }
  }

  .project-xpower-image {
    margin-right: 20px;
    position: relative;
    border-radius: 10%;
  }

  .project-xpower-image:hover .overlay {
    opacity: 0;
  }

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
