@media (min-width: 375px) {
  .skills-container {
    padding: 0px 40px 100px 40px;
    display: block;
  }
  .skills-sm-heading {
    font-size: $font-size-header-mobile;
    font-family: $font-family-mono;
    color: $header-color-one;
    letter-spacing: 2px;
    span {
      color: $header-color-two;
    }
  }
  .skills {
    display: flex;
    justify-content: flex-start;
    .skill {
      margin-left: 20px;
    }
    .skill span {
      font-weight: 700;
    }

    .skill ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .skill-item {
      margin-top: 9px;
    }
  }
}

@media (min-width: 768px) {
  .skills-container {
    padding: 20px 50px 180px 50px;
    display: flex;
    justify-content: center;
  }
  .skills-sm-heading {
    font-size: $font-size-header-desktop;
    width: 180px;
  }
  .skills {
    justify-content: space-between;
    width: 700px;
    .skill {
      margin: 0;
    }
  }
}
